:root{
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --primary-text-color-theme-light:#757575 ;
    --secondary-text-color-theme-light:#000000;
    --primary-text-color-title: #212121;
    --accent-color:#2196F3;
    }